@rendermode InteractiveServer

<div class="top-row navbar navbar-dark bg-dark px-4">
    <a class="navbar-brand text-white" href="/">CSMarket</a>
    @if (UserService.UserUUID is null)
    {
        <a class="nav-link text-white" href="/signin">Sign In</a>
    }
    else
    {
        @if (UserService.IsCoolGuy)
        {
            <a class="nav-link text-white" href="/control-panel">Special Panel</a>
        }
        <a class="nav-link text-white" href="/users/@UserService.UserUUID">Profile</a>
    }
</div>


@code {
    protected override void OnInitialized()
    {
        UserService.OnNavbarRefresh += Refresh;
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }
}

