@page "/items/{id}"
@rendermode InteractiveServer

@if (Item == null)
{
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 border rounded p-2 mt-3 text-center">
                <h2 class="my-auto">Sorry, there is no info yet!</h2>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <BlazorWebClient.Components.Layout.ItemPage.ItemInfo Item="Item"></BlazorWebClient.Components.Layout.ItemPage.ItemInfo>
        
        <hr />
        
        <BlazorWebClient.Components.Layout.ItemPage.ItemDealCreateForm IdDeal="@Id"></BlazorWebClient.Components.Layout.ItemPage.ItemDealCreateForm>
        
        <hr />
        
        @if (itemHistory.Count == 0)
        {
            <h2>No one buying this item. Sad =(</h2>
        }
        else
        {
            <BlazorWebClient.Components.Layout.ItemPage.ItemHistory History="itemHistory"></BlazorWebClient.Components.Layout.ItemPage.ItemHistory>
        }

        <hr />
        
        <div class="row border rounded p-3">
            @foreach (var deal in Item.ItemDeals)
            {
                <BlazorWebClient.Components.Layout.ItemPage.ItemDeals Deal="deal"></BlazorWebClient.Components.Layout.ItemPage.ItemDeals>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    ItemDetailedReadDto Item;
    List<DealHistoryReadDto> itemHistory = new List<DealHistoryReadDto>();

    protected override async Task OnInitializedAsync()
    {
        if (UserService.IsUserLoggedIn)
        {
            await LoadItemInfo();
            await LoadItemHistory();
        }
        else
        {
            await MessageService.ShowMessage("You need too authorize first!");
        }
    }
    private async Task LoadItemInfo()
    {
        HttpResponseMessage response = await UserService.HttpClient.GetAsync($"{UserService.BaseUrl}/items/{Id}");
        if (response.IsSuccessStatusCode)
        {
            Item = await response.Content.ReadFromJsonAsync<ItemDetailedReadDto>();
            Item.ItemDeals = Item.ItemDeals.OrderBy(deal => deal.Price).ToList();
        }
    }
    private async Task LoadItemHistory()
    {
        HttpResponseMessage response = await UserService.HttpClient.GetAsync($"{UserService.BaseUrl}/items/{Id}/history");
        if (response.IsSuccessStatusCode)
        {
            itemHistory = await response.Content.ReadFromJsonAsync<List<DealHistoryReadDto>>();
        }
    }
}