@page "/"
@rendermode InteractiveServer

<div class="container sm-6 mt-3">
    @if (Items == null || Items.Count == 0)
    {
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-5 border rounded p-2 mt-3 text-center">
                    <h2 class="my-auto">Sorry, there is no items yet!</h2>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Items)
            {
                <BlazorWebClient.Components.Layout.Items Item="item"></BlazorWebClient.Components.Layout.Items>
            }
        </div>
    }
</div>

@code {
    List<ItemsReadDto> Items;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await UserService.HttpClient.GetAsync($"{UserService.BaseUrl}/items");
        if (response.IsSuccessStatusCode)
        {
            Items = await response.Content.ReadFromJsonAsync<List<ItemsReadDto>>();
        }
    }
}