html{
    background-color: #252525;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
	font-family: 'Tsukimi Rounded', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
	text-decoration: none;
	color: initial;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    border: none;
    background-color:var(--mainColor);
}

:root {
    --mainColor: #f8a82f;
}

.navigationBar {
    position: fixed;
    z-index: 2;
    top: 0;

    width: 1800px;
    margin: 10px;
    padding: 10px;

    background-color: rgba(0, 0, 0,0.2);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    
    transition: top 0.6s;
}

.navigationBar a {
    color: var(--mainColor);
    margin: 0 15px;
}

.accountBody
{
    z-index: 1;
  width: 1200px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-top: 10px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  margin-top: 60px;
  margin-bottom: 20px;
}
.accountBody .content 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  width: 100%;
}
.accountBody .content h2
{
    font-size: 40pt;
    color: var(--mainColor);
    margin: 20px;
}

.accountBody .content .accountPanel
{
  display: flex;
  position: relative;
  gap: 10px;

  width: 100%;
  border-radius: 8px;
}
.accountBody .content .accountPanel .accountPicture
{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    object-fit: cover;

    border: 1px solid var(--mainColor);
    border-radius: 8px;
    
    background-color: rgba(0, 0, 0,0.2);

    cursor: pointer;
}
.accountBody .content .accountPanel .accountInformation
{
    width: 100%;

    border: 1px solid var(--mainColor);
    border-radius: 8px;

    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;

    background-color: rgba(0, 0, 0,0.2);
}
.accountBody .content .accountPanel .accountInformation .accountNameAndLinks
{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 20px;
    font-size: 32pt;
    padding: 5px;
    
}
.accountBody .content .accountPanel .accountInformation .accountNameAndLinks  .accountName
{
    font-size: 32pt;
    color: var(--mainColor);
    font-size: 32pt;
    height: 50px;
}
.accountBody .content .accountPanel .accountInformation .description
{
    font-size: 18pt;
    color: var(--mainColor);
}

.accountBody .content .links
{
    display: flex;
    position: relative;
    flex-direction: row;
    right: 0;
    gap: 30px;
    margin-top: 10px;
}
.accountBody .content .links .link
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.accountBody .content .links .link textarea
{
    font-size: 12pt;
    background-color: rgba(0, 0, 0,0.2);
    border: 1px solid var(--mainColor);
    border-radius: 8px;

    height: 30px;
    padding: 5px;
}
.accountBody .content .links .link .accountIcon
{
    width: 50px;
    height: 50px;
    transition: transform .2s;
}
.accountBody .content .links .link .accountIcon:hover{
    transform: scale(1.1);
}

textarea{
    color: var(--mainColor);
    border: none;
    background: none;
    resize: none;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
}
textarea:focus {
    outline: none;
}

.accountBody .content .passwordChangeBtn
{
    font-size: 12pt;
    margin-top: 0px;
}
.accountBody .content .saveBtn
{
    font-size: 22pt;
}

button{
    color: var(--mainColor);

    margin-top: 20px;

    background-color: rgba(0, 0, 0, 0.2);

    border: 1px solid var(--mainColor);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.5s;
}
button:hover{
    transform: scale(1.05);
}