<div class="row border rounded p-3">
    <div style="max-height: 300px; overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody style="font-size: 24px;">
                @foreach (var history in History)
                {
                    <tr>
                        <td class="ihar-link" @onclick="(() => RedirectToUser(history.SellerUUID))">@history.SellerUUID</td>
                        <td class="ihar-link" @onclick="(() => RedirectToUser(history.BuyerUUID))">@history.BuyerUUID</td>
                        <td>@history.Date.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture)</td>
                        <td>@history.Price$</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public List<DealHistoryReadDto> History { get; set; } = new List<DealHistoryReadDto>();

    private void RedirectToUser(string uuid)
    {
        NavManager.NavigateTo($"users/{uuid}");
    }
}